header {
    background: var(--mob-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    z-index: 1;
}

nav .logo a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: var(--white);
}

nav .logo a span {
    color: var(--text-color);
    margin-right: 10px;
}

nav .mode .fa-sun,
.fa-moon {
    position: relative;
    color: var(--white);
    width: 20px;
    height: 20px;
    margin-top: 10px;
    animation: animate .5s;
}

nav .mode .fa-sun {
    display: none;
}

nav .mode .dark-light:checked~.fa-sun {
    display: block;
}

nav .mode .dark-light:checked~.fa-moon {
    display: none;
}

nav .mode .dark-light {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

nav .hamburger {
    position: relative;
    width: 30px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    display: none;
    scale: 0.8;
}

nav .hamburger .bar{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--white);
    margin: 6px 0;
    transition: 0.4s;
}
/* 
nav .hamburger .active::before {
    transform: rotate(-45deg) translate(-2px, 5px);
}

nav .hamburger .active::after {
    transform: rotate(45deg) translate(-2px, -5px);
} */

nav .hamburger .active .bar {
    opacity: 0;
}


@media screen and (max-width: 1280px) {

    nav {
        padding: 0 50px;
    }
}

@media screen and (max-width: 992px) {
    header {
        background: var(--mob-color);
    }

    nav .hamburger {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: 100%;
        width: 100%;
        height: 80vh;
        background: var(--mob-color);
        flex-direction: column;
        padding: 50px;
        gap: 30px;
        transition: 0.5 ease-in;
    }

    nav ul li a {
        font-size: 28px;
    }

    nav ul.active {
        left: 0%;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 567px) {
    nav {
        padding: 0 30px;
    }

    nav .logo a {
        font-size: 30px;
    }
}
