
.footer {
    background: var(--mob-color);
    width: 100%;
    height: 100%;
    padding: 10px 0 5px;
    display: flex;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-wrapper .footer-info p{
    color: #717171;
    font-family: inherit;
    letter-spacing: .8px;
}

.footer-wrapper .iconTop {
    border: 2px solid  var(--text-color);
    border-radius: 50%;
}

.footer-wrapper .iconTop a{
    text-decoration: none;
    display: inline-flex;
    padding: 5px;
    color: var(--text-color);
}