.home {
    background: var(--bg-color);
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 100px 0 50px;
}

.home .home-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-info .left {
    flex: 1;
}

.left span {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: linear-gradient(130deg, #383528 0%, #191919 100%);
    border: 1px solid #3b3b3b;
    color: var(--white);
    padding: 5px 25px;
    border-radius: 25px;
}

.left h1 {
    font-size: 6rem;
    margin: 25px 0;
    color: var(--white-change);
}

.left p {
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: var(--info-text);
    mask-border: 50px;
    margin-bottom: 35px;
    text-align: justify;
}

.left .btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left .btn button {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 6px;
    color: var(--white);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.left .btn button:first-child {
    background: var(--text-color);
    border: 2px solid var(--text-color);
}

.left .btn button:first-child:hover {
    background: var(--black);
    color: var(--button-color);
    transform: translateY(-5px);
}

.left .btn button:last-child {
    background: var(--black);
    color: var(--white);
    border: 2px solid var(--black);
}

.left .btn button:last-child:hover {
    background: var(--white);
    color: var(--black);
    transform: translateY(-5px);
    border-color: var(--white);
}

.social {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.social .social-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-links a {
    font-size: 20px;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(130deg, #383528 0%, #191919 100%);
    border: 1px solid #3b3b3b;
    transition: 0.4s ease;
}

.social-links a:hover {
    transform: translateY(-5px);
}

.home-info .right {
    flex: 1;
}

.right .profile {
    text-align: right;
}

.right .profile img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--text-color);
    box-shadow: 0 0 50px var(--text-color);
}

@media screen and (max-width: 1280px) {
    .home {
        padding: 100px 50px 50px;
        z-index: auto;
    }

    .left h1 {
        font-size: 5rem;
    }

    .right .profile img {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 992px) {
    .home {
        position: relative;
        padding: 50px;
        height: 100%;
    }

    .home-info {
        flex-direction: column-reverse;
    }

    .left {
        padding-top: 50px;
    }

    .left h1 {
        font-size: 4rem;
    }

    .left p {
        width: 100%;
    }

    .left .btn {
        padding-bottom: 50px;
    }

    .right .profile {
        padding-top: 50px;
    }

    .social {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .left span {
        font-size: 14px;
    }

    .left h1 {
        font-size: 3rem;
    }

    .right .profile img {
        width: 375px;
        height: 375px;
    }
}

@media screen and (max-width: 567px) {
    .home {
        padding: 30px;
    }

    .left .btn button {
        font-size: 13px;
        padding: 10px 20px;
    }

    .right .profile img {
        width: 300px;
        height: 300px;
    }
}
