.contact {
    background: var(--bg-color);
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 100px 0 50px;
}

.contact .container h2 {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--white);
    margin-bottom: 10px;
}

.contact .container h2 span {
    color: var(--text-color);
}

.form-container {
    width: 400px;
    background: 
    linear-gradient(130deg, #958d6a 0%, #333333 100%) padding-box,
        linear-gradient(145deg, transparent 35%, var(--border-color), #fff) border-box;

    border: 2px solid transparent;
    padding: 32px 24px;
    margin: auto;
    font-size: 14px;
    font-family: inherit;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /**/
}

.form-container button:active {
    scale: 0.95;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color:  #bfbfbf;
    font-weight: 300;
    font-size: 18px;
}

.form-container .form-group input {
    width: 100%; 
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid  #414141;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    height: 96px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
    resize: none;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: var(--button-color);
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: var(--button-color);
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #ffc448;
    font-weight: 600;
    width: 40%;
    background:  #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: var(--button-color);
    border-color: #717171;
    color: var(--black);
}