*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --text-color: #ffc448;
    --button-color: #ffc448;
    --bg-color: #222;
    --white: #fff;
    --white-change: #fff;
    --black: #000;
    --black-change: #000;
    --mob-color: #2d2d2d;
    --social-links: #fff;
    --info-text: #c3c3c3;
    --border-color: #ffc448;
}

[data-theme="dark"] {
    --text-color:#2d2d2d ;
    --button-color: #ffc448;
    --bg-color: #e9c46a; /**/
    --white: #fff;
     --white-change: #000;
    --black: #000;
    --black-change: #fff;
    --mob-color: #2d2d2d;
    --social-links: #fff;
    --info-text: #404040;
    --border-color: #fff;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

@keyframes animate {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }

    75% {
        transform: rotate(25deg);
    }
}

@media screen and (max-width: 1280px) {

    nav {
        padding: 0 50px;
    }

    .home {
        padding: 100px 50px 50px;
        z-index: auto;
    }

    .left h1 {
        font-size: 5rem;
    }

    .right .profile img {
        width: 450px;
        height: 450px;
    }

    /* About */
    .about-wrapper {
        padding: 20px;
    }
}

@media screen and (max-width: 992px) {
    header {
        background: var(--mob-color);
    }

    nav .hamburger {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: 100%;
        width: 100%;
        height: 80vh;
        background: var(--mob-color);
        flex-direction: column;
        padding: 50px;
        gap: 30px;
        transition: 0.5 ease-in;
    }

    nav ul li a {
        font-size: 28px;
    }

    nav ul.active {
        left: 0%;
    }

    .home {
        position: relative;
        padding: 50px;
        height: 100%;
    }

    .home-info {
        flex-direction: column-reverse;
    }

    .left {
        padding-top: 50px;
    }

    .left h1 {
        font-size: 4rem;
    }

    .left p {
        width: 100%;
    }

    .left .btn {
        padding-bottom: 50px;
    }

    .right .profile {
        padding-top: 50px;
    }

    .social {
        display: none;
    }

    /* About */

    .about {
        position: relative;
        padding: 40px;
        height: 100%;
    }

    .about-wrapper {
        flex-direction: column;
    }

    .about-info {
        text-align: center;
    }

    .about-info h2 {
        margin-top: 15px;
        font-size: 2.5em;
    }

    .about-info h3 {
        font-size: 1.2em;
    }

    .about-info p {
        width: 100%;
    }

    .about .about-left img {
        width: 350px;
        height: 350px;
    }

    /* Portfolio */

    .portfolio {
        position: relative;
        padding: 40px;
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .left span {
        font-size: 14px;
    }

    .left h1 {
        font-size: 3rem;
    }

    .right .profile img {
        width: 375px;
        height: 375px;
    }

    /* About */

    .about .about-left img {
        width: 350px;
        height: 350px;
    }

    .about-right {
        flex: 0.9;
    }
}

@media screen and (max-width: 567px) {
    nav {
        padding: 0 30px;
    }

    nav .logo a {
        font-size: 30px;
    }

    .home {
        padding: 30px;
    }

    .left .btn button {
        font-size: 13px;
        padding: 10px 20px;
    }

    .right .profile img {
        width: 300px;
        height: 300px;
    }

    /* About */
    .about .about-left img {
        width: 250px;
        height: 250px;
    }

    .about-info h2 {
        font-size: 2rem;
    }

    .about-info p {
        font-size: 17px;
    }

    .about-info h3 {
        font-size: 1.3em;
    }
}