.portfolio {
    background: var(--bg-color);
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 50px 0 50px;
}


.portfolio .container h2 {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--white-change);
    margin-bottom: 10px;
}

.portfolio .container h2 span {
    color: var(--button-color);
    margin-right: 10px;
}

.title-line{
    width: 50px;
    height: 3px;
    background: var(--button-color);
    border: none;
    margin: 0 auto;
}

.portfolio-description {
    font-size: 1.1rem;
    color: var(--atomic-grey);
    opacity: 0.8;
    text-align: center;
    margin: 20px auto 40px;
}

.projects-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:2rem;
}

div[role="tablist"] {
    border: 2px solid var(--mob-color);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
}

button[role="tab"] {
    color: var( --white-change);
    background-color: transparent;
    margin: 0 10px;
    padding: 20px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[role="tab"]:hover {
    border-bottom: 2px solid var(--button-color);
    color: var(--button-color);
}

@media screen and (max-width: 1280px) {
        .div {
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 400px);
    }
}

@media screen and (max-width: 992px) {
    .portfolio {
        position: relative;
        padding: 40px;
        height: 100%;
    }

    .div {
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .div {
        grid-auto-flow: row;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

@media screen and (max-width: 567px) {
button[role="tab"] {
    padding: 0px;
}
}
